<%- include("_header") -%>

<h2> Find Customers</h2>

<h4>Total number of records in the database: <%= totRecs %></h4>

<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/manage" method="POST">
    <table>
        <tr>
            <td><label for="cusId">ID</label>:</td>
            <td><input type="number" name="cusId" id="cusId" value="<%= cus.cusId %>" /></td>
            <td>(equal)</td>
        </tr>
        <tr>
            <td><label for="cusFname">First Name</label>:</td>
            <td><input type="text" name="cusFname" id="cusFname" value="<%= cus.cusFname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusLname">Last Name</label>:</td>
            <td><input type="text" name="cusLname" id="cusLname"value="<%= cus.cusLname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusState">State</label>:</td>
            <td><input type="text" name="cusState" id="cusState" value="<%= cus.cusState %>" /></td>
            <td>(equal)</td>
        </tr>
        <tr>
            <td><label for="cusSalesYTD">Sales YTD</label>:</td>
            <td><input type="text" name="cusSalesYTD" id="cusSalesYTD" value="<%= cus.cusSalesYTD %>" maxlength="2"/></td>
            <td>(greater or equal to)</td>
        </tr>
        <tr>
            <td><label for="cusSalesPrev">Previous Years Sales</label>:</td>
            <td><input type="text" name="cusSalesPrev" id="cusSalesPrev" value="<%= cus.cusSalesPrev %>" /></td>
            <td>(greater or equal to) </td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Find" class="btn btn-primary"/>
                <input type="reset" value="Reset" class="btn btn-primary"/>
            </td>
        </tr>

    </table>
</form>
<br> 


<!-- Omitted Error Checking -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <table>
            <thead>
                <tr><a href="http://localhost:3000/create"><input type="button" value="Create Customer" class="btn btn-secondary"></a></tr>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Sales YTD</th>
                              
                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(customer => { %> 
      
                    <tr>
                        <td><%= customer.cusid %></td> 
                        <td><%= customer.cusfname %></td>
                        <td><%= customer.cuslname %></td>
                        <td><%= customer.cusstate %></td>
                        <td><%= customer.cussalesytd %></td>
                        <td><%= customer.cussalesprev %></td>
                        <td>
                            <a href="http://localhost:3000/edit/<%= customer.cusid %>"><input type="button" value="Edit" class="btn btn-primary"></a>
                            <a href="http://localhost:3000/delete/<%= customer.cusid %>"><input type="button" value="Delete" class="btn btn-dark"></a>
                        </td>
                    
                    </tr>
                
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>
<%- include("_footer") -%>   